:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
}

.header {
    background-color: #1b1b1b;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-shrink: 0; 
}

.header__title {
    color: #ffffff;
    font-size: 24px;
}

.content {
    flex: 1;
    min-height: 0;
    display: flex;
}